In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import pyspark
from pyspark import SparkContext, SQLContext
import random

In [2]:
ratings = pd.read_csv('ml-20m/ratings.csv', header=0)

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [26]:
ratings_wide = ratings.head(10000).pivot(index='userId', columns='movieId', values='rating')

In [74]:
train_set = pd.DataFrame(columns=ratings_wide.columns)
test_set = pd.DataFrame(columns=ratings_wide.columns)
for rows in ratings_wide.iterrows():
    row = rows[1]
    rated = row[(row>0)].index.tolist()
    train_indices = random.sample(rated, int(np.floor(len(rated)*.7)))
    test_indices = set(rated)  - set(train_indices)
    train = row.loc[train_indices]
    test = row.loc[test_indices]
    train_set = train_set.append(train)
    test_set = test_set.append(test)

### Spark Stuff

In [ ]:
sc =SparkContext()

In [ ]:
sqlCtx = SQLContext(sc)

In [ ]:
sdf = sqlCtx.createDataFrame(ratings_wide)